<ul class="tags-key">
  <li>---</li>
  <li class="tags-key" onclick='selectedTag("code")'>
    <span class="pixel code"></span> code
  </li>
  <li class="tags-key" onclick='selectedTag("design")'>
    <span class="pixel design"></span> design
  </li>
  <li class="tags-key" onclick='selectedTag("hardware")'>
    <span class="pixel hardware"></span> hardware
  </li>
  <li class="tags-key" onclick='selectedTag("writing")'>
    <span class="pixel writing"></span> writing
  </li>
  <li class="tags-key" onclick='selectedTag("pm")'>
    <span class="pixel pm"></span> project managing
  </li>
  <li class="tags-key" onclick='selectedTag("ads")'>
    <span class="pixel ads"></span> ads
  </li>
</ul>
