<ul class="tags-key">
  <li>---</li>
  <li class="tags-key">
    <span class="pixel code"></span> code
  </li>
  <li class="tags-key">
    <span class="pixel design"></span> design
  </li>
  <li class="tags-key">
    <span class="pixel hardware"></span> hardware
  </li>
  <li class="tags-key">
    <span class="pixel writing"></span> writing
  </li>
  <li class="tags-key">
    <span class="pixel pm"></span> project managing
  </li>
  <li class="tags-key">
    <span class="pixel ads"></span> ads
  </li>
</ul>
