<ul class="tags-key">
  <li>---</li>
  <li class="tags-key" onclick='selectedTag("research")'>
    <span class="pixel research"></span> <span class="label">research</span>
  </li>
  <li class="tags-key" onclick='selectedTag("code")'>
    <span class="pixel code"></span> <span class="label">code</span>
  </li>
  <li class="tags-key" onclick='selectedTag("design")'>
    <span class="pixel design"></span> <span class="label">design</span>
  </li>
  <li class="tags-key" onclick='selectedTag("hardware")'>
    <span class="pixel hardware"></span> <span class="label">hardware</span>
  </li>
  <li class="tags-key" onclick='selectedTag("writing")'>
    <span class="pixel writing"></span> <span class="label">writing</span>
  </li>
  <li class="tags-key" onclick='selectedTag("pm")'>
    <span class="pixel pm"></span> <span class="label">project managing</span>
  </li>
  <li class="tags-key" onclick='selectedTag("ads")'>
    <span class="pixel ads"></span> <span class="label">ads</span>
  </li>
</ul>
