<div class="container">
  <a href="#" id="mode-switch" title="Switch light mode" onclick="toggleMode()">
    {% for icon in site.icons %}
    {% if icon.type == 'lightmode' and icon.name == 'moon' %}
    <span class="light-icon" id="moon-icon">
        {{ icon }}
      </span>
    {% endif %}
    {% if icon.type == 'lightmode' and icon.name == 'sun' %}
    <span class="light-icon" id="sun-icon">
        {{ icon }}
      </span>
    {% endif %}
    {% endfor %}
  </a>
</div>
<script>
    let lightmode = localStorage.getItem("lightmode");
    console.log("getting lightmode", lightmode);
    lightmode = lightmode ? lightmode : "sun";
    if (lightmode === "sun") {
        $('#moon-icon').show();
        $("#sun-icon").hide();
        $('body').removeClass('dark-mode').addClass('light-mode');
    } else {
        $('body').removeClass('light-mode').addClass('dark-mode');
        $('#moon-icon').hide();
        $("#sun-icon").show();
    }
    function toggleMode() {
        if (lightmode === 'sun') {
            $('#moon-icon').hide();
            $('#sun-icon').show();
            lightmode = 'moon';
            localStorage.setItem("lightmode", "moon");
            $('body').removeClass('light-mode').addClass('dark-mode');
        } else {
            $('#moon-icon').show();
            $('#sun-icon').hide();
            lightmode = 'sun';
            localStorage.setItem("lightmode", "sun");
            $('body').removeClass('dark-mode').addClass('light-mode');
        }
    }

</script>