<ul>
  <li>
    <a href="{{ site.url }}" id="mark">&#8704;</a>
    <a href="#" class="d-sm-inline d-md-none float-right h5"
       id="exit-menu" style="color: blue;">close &#8594;</a>
  </li>
  <li class="d-xs-none d-sm-none d-md-inline site-description">
    {{ site.description | default: site.github.project_tagline }}
  </li>
  {% for page in site.pages %}
  {% if page.permalink %}
  <li class="list-item page">
    [ <a href="{{ page.permalink }}"> {{ page.title }} </a> ]
  </li>
  {% endif %}
  {% endfor %}
  {% assign tags = site.tags %}
  {% assign sorted_projects = site.projects | sort:"order" %}
  {% for project in sorted_projects %}
  {% if project.show %}
  <li class="list-item project">
    <a class="" href="/projects/{{ project.slug }}">
      {{ project.slug }}
    </a>
    {% for tag in project.tags %}
    <span class="pixel {{ tag }}" title="{{tag}}"></span>
    {% endfor %}

  </li>
  {% endif %}
  {% endfor %}
</ul>