/* pastels */
$color-pink: #f2e1ff;
$color-purplish: #d4dfff;
$color-blue-light: #deface;
$color-greenish: #deeded;
$color-yellowish: #effec7;

// recordings
.recording.list-inline-item {
  width: 100px;
  height: 100px;
  margin: 2px;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;

  &.blue {
    background-color: $color-blue-light;

    &:hover, &.active {
      background-color: white;
      -webkit-animation: neon-blue 1.5s ease-in-out infinite alternate;
      -moz-animation: neon-blue 1.5s ease-in-out infinite alternate;
      animation: neon-blue 1.5s ease-in-out infinite alternate;
    }
  }

  &.pink {
    background-color: $color-pink;

    &:hover, &.active {
      background-color: white;
      -webkit-animation: neon-pink 1.5s ease-in-out infinite alternate;
      -moz-animation: neon-pink 1.5s ease-in-out infinite alternate;
      animation: neon-pink 1.5s ease-in-out infinite alternate;
    }
  }

  &.greenish {
    background-color: $color-greenish;

    &:hover, &.active {
      background-color: white;
      -webkit-animation: neon-greenish 1.5s ease-in-out infinite alternate;
      -moz-animation: neon-greenish 1.5s ease-in-out infinite alternate;
      animation: neon-greenish 1.5s ease-in-out infinite alternate;
    }
  }

  &.yellowish {
    background-color: $color-yellowish;

    &:hover, &.active {
      background-color: white;
      -webkit-animation: neon-yellowish 1.5s ease-in-out infinite alternate;
      -moz-animation: neon-yellowish 1.5s ease-in-out infinite alternate;
      animation: neon-yellowish 1.5s ease-in-out infinite alternate;
    }
  }

  &.purplish {
    background-color: $color-purplish;

    &:hover, &.active {
      background-color: white;
      -webkit-animation: neon-purplish 1.5s ease-in-out infinite alternate;
      -moz-animation: neon-purplish 1.5s ease-in-out infinite alternate;
      animation: neon-purplish 1.5s ease-in-out infinite alternate;
    }
  }
}

.recording-date {
  position: relative;
  top: 70px;
  text-align: center;
  font-size: 0.8em;
}

@mixin neonmixin($color) {
  from {
    box-shadow: 0 0 0px $color, 0 0 20px $color, 0 0 40px $color, 0 0 5px $color, 0 0 150px $color
    //box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $color, 0 0 70px $color, 0 0 80px $color, 0 0 100px $color, 0 0 150px $color;
  }
  to {
    //box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $color, 0 0 35px $color, 0 0 40px $color, 0 0 50px $color, 0 0 75px $color;
    box-shadow: 0 0 5px #fff, 0 0 20px $color, 0 0 35px $color, 0 0 40px $color, 0 0 50px $color, 0 0 75px $color;
  }
}

@keyframes neon-blue {
  @include neonmixin($color-blue-light)
}

@-moz-keyframes neon-blue {
  @include neonmixin($color-blue-light)
}

@-webkit-keyframes neon-blue {
  @include neonmixin($color-blue-light)
}

@keyframes neon-pink {
  @include neonmixin($color-pink)
}

@-moz-keyframes neon-pink {
  @include neonmixin($color-pink)
}

@-webkit-keyframes neon-pink {
  @include neonmixin($color-pink)
}

@keyframes neon-greenish {
  @include neonmixin($color-greenish)
}

@-moz-keyframes neon-greenish {
  @include neonmixin($color-greenish)
}

@-webkit-keyframes neon-greenish {
  @include neonmixin($color-greenish)
}

@keyframes neon-yellowish {
  @include neonmixin($color-yellowish)
}

@-moz-keyframes neon-yellowish {
  @include neonmixin($color-yellowish)
}

@-webkit-keyframes neon-yellowish {
  @include neonmixin($color-yellowish)
}

@keyframes neon-purplish {
  @include neonmixin($color-purplish)
}

@-moz-keyframes neon-purplish {
  @include neonmixin($color-purplish)
}

@-webkit-keyframes neon-purplish {
  @include neonmixin($color-purplish)
}
