---
---

@import "{{ site.theme }}";

$color-black: #2f2f2f;
$color-gray: #777;
$color-yellow: #FFF650;
$color-blue: #0000ff;
$color-red: orangered;

/* pastels */
$color-pink: #f2e1ff;
$color-purplish: #d4dfff;
$color-blue-light: #deface;
$color-greenish: #deeded;
$color-yellowish: #effec7;

$xs: 575.98px;
$sm-min: 576px;
$sm-max: 767.98px;
$md-min: 768px;
$md-max: 991.98px;
$lg-min: 992px;
$lg-max: 1199.98px;
$xl: 1200px;

@font-face {
  font-family: 'hk_grotesk';
  src: url('/assets/font/hkgrotesk-bolditalic-webfont.woff2') format('woff2'),
  url('/assets/font/hkgrotesk-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'hk_grotesk';
  src: url('/assets/font/hkgrotesk-italic-webfont.woff2') format('woff2'),
  url('/assets/font/hkgrotesk-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'hk_grotesk';
  src: url('/assets/font/hkgrotesk-lightitalic-webfont.woff2') format('woff2'),
  url('/assets/font/hkgrotesk-lightitalic-webfont.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'hk_grotesk';
  src: url('/assets/font/hkgrotesk-mediumitalic-webfont.woff2') format('woff2'),
  url('/assets/font/hkgrotesk-mediumitalic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'hk_grotesk';
  src: url('/assets/font/hkgrotesk-semibolditalic-webfont.woff2') format('woff2'),
  url('/assets/font/hkgrotesk-semibolditalic-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'hk_grotesk';
  src: url('/assets/font/hkgrotesk-bold-webfont.woff2') format('woff2'),
  url('/assets/font/hkgrotesk-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'hk_grotesk';
  src: url('/assets/font/hkgrotesk-light-webfont.woff2') format('woff2'),
  url('/assets/font/hkgrotesk-light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'hk_grotesk';
  src: url('/assets/font/hkgrotesk-medium-webfont.woff2') format('woff2'),
  url('/assets/font/hkgrotesk-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

::selection {
  background: $color-yellow; /* WebKit/Blink Browsers */
  color: $color-black;
}

::-moz-selection {
  background: $color-yellow; /* Gecko Browsers */
  color: $color-black;
}

body {
  font-family: "hk_grotesk", sans-serif;
  color: $color-black;
  //font-size: 1.25em;
}

li {
  list-style: none;
  margin-bottom: 0.5rem;
}

a {
  &:hover, &:focus, &:active {
    font-weight: normal;
    color: $color-blue;
    text-decoration: none;
    padding-bottom: 3px;
  }
}

ul {
  padding: 0;
}

li > img, li > a > img {
  margin-bottom: 0;
}

.sidebar {
  position: fixed;
  overflow-y: scroll;
  //@include media-breakpoint-down(sm) {
  //  left: -100px;
  //}
}

.sidebar ul {
  padding: 0;
  background: transparent;
  display: grid;
  border: 0;

  > li {
    display: block;
    color: $color-black;

    a {
      text-align: left;
      padding: 0;
      color: $color-black;

      &:hover, &:active, &:focus {
        border-bottom: 1px solid $color-blue;
      }
    }

    a:hover {
      font-style: normal;
      color: $color-blue;
      text-decoration: none;
    }

    a:focus {
      font-weight: normal;
      background-color: $color-yellow;
    }
  }
}

.main-content {
  width: auto;
  margin-left: 300px;
  @media (max-width: $xs) {
    margin-left: 165px;
  }
  @media (min-width: $sm-min) and (max-width: $sm-max) {
    margin-left: 200px;
  }
  @media (min-width: $md-min) and (max-width: $md-max) {
    margin-left: 220px;
  }

  .image-description {
    font-size: 1.2em;
  }
}

header li {
  border-right: 0;
}

img {
  margin-bottom: 20px;
}

.site-description {
  color: $color-gray;
  @media (max-width: $md-max) {
    display: none;
  }
}

.project-title {
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;

}

.description-text {
  margin-bottom: 1rem;
  color: #333;
  font-size: 1.2em;
}

li.list-item.page > a {
  color: $color-gray;
}

.carousel-control-next,
.carousel-control-prev {
  &:hover, &:active, &:focus {
    border-bottom: 0;
  }

  .carousel-control-next-icon, .carousel-control-prev-icon {
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'><path d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/></svg>");
    margin-left: -150px;
  }

  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
    margin-right: -160px;
  }
}

.carousel-indicators {
  li {
    background-color: $color-black;
    width: 5px;
  }
}

ul.tags-key {
  li {
    font-size: 0.8rem;
    margin-bottom: 0;
    color: $color-gray !important;
    font-style: italic;
  }
}

ul.liltalks {
  li {
    line-height: 1.2em;
    font-size: 0.9em;
  }

  li:before {
    content: "- ";
  }
}

.pixel {
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 3px;

  &.blue, &.design {
    background-color: $color-blue;
  }

  &.red, &.code {
    background-color: $color-red;
  }

  &.green, &.other {
    background-color: forestgreen;
  }
}


// recordings
.recording.list-inline-item {
  width: 100px;
  height: 100px;
  margin: 2px;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;

  &.blue {
    background-color: $color-blue-light;

    &:hover, &.active {
      -webkit-animation: neon-blue 1.5s ease-in-out infinite alternate;
      -moz-animation: neon-blue 1.5s ease-in-out infinite alternate;
      animation: neon-blue 1.5s ease-in-out infinite alternate;
    }
  }

  &.pink {
    background-color: $color-pink;

    &:hover, &.active {
      -webkit-animation: neon-pink 1.5s ease-in-out infinite alternate;
      -moz-animation: neon-pink 1.5s ease-in-out infinite alternate;
      animation: neon-pink 1.5s ease-in-out infinite alternate;
    }
  }

  &.greenish {
    background-color: $color-greenish;

    &:hover, &.active {
      -webkit-animation: neon-greenish 1.5s ease-in-out infinite alternate;
      -moz-animation: neon-greenish 1.5s ease-in-out infinite alternate;
      animation: neon-greenish 1.5s ease-in-out infinite alternate;
    }
  }
  &.yellowish {
    background-color: $color-yellowish;

    &:hover, &.active {
      -webkit-animation: neon-yellowish 1.5s ease-in-out infinite alternate;
      -moz-animation: neon-yellowish 1.5s ease-in-out infinite alternate;
      animation: neon-yellowish 1.5s ease-in-out infinite alternate;
    }
  }
  &.purplish {
    background-color: $color-purplish;

    &:hover, &.active {
      -webkit-animation: neon-purplish 1.5s ease-in-out infinite alternate;
      -moz-animation: neon-purplish 1.5s ease-in-out infinite alternate;
      animation: neon-purplish 1.5s ease-in-out infinite alternate;
    }
  }
}

.recording-date {
  position: relative;
  top: 70px;
  text-align: center;
  font-size: 0.8em;
}

@mixin neonmixin($color) {
  from {
    box-shadow: 0 0 0px $color, 0 0 20px $color, 0 0 40px $color, 0 0 5px $color, 0 0 150px $color
    //box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $color, 0 0 70px $color, 0 0 80px $color, 0 0 100px $color, 0 0 150px $color;
  }
  to {
    //box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $color, 0 0 35px $color, 0 0 40px $color, 0 0 50px $color, 0 0 75px $color;
    box-shadow: 0 0 5px #fff, 0 0 20px $color, 0 0 35px $color, 0 0 40px $color, 0 0 50px $color, 0 0 75px $color;
  }
}

@keyframes neon-blue {
  @include neonmixin($color-blue-light)
}

@-moz-keyframes neon-blue {
  @include neonmixin($color-blue-light)
}

@-webkit-keyframes neon-blue {
  @include neonmixin($color-blue-light)
}

@keyframes neon-pink {
  @include neonmixin($color-pink)
}

@-moz-keyframes neon-pink {
  @include neonmixin($color-pink)
}

@-webkit-keyframes neon-pink {
  @include neonmixin($color-pink)
}

@keyframes neon-greenish {
  @include neonmixin($color-greenish)
}

@-moz-keyframes neon-greenish {
  @include neonmixin($color-greenish)
}

@-webkit-keyframes neon-greenish {
  @include neonmixin($color-greenish)
}

@keyframes neon-yellowish {
  @include neonmixin($color-yellowish)
}

@-moz-keyframes neon-yellowish {
  @include neonmixin($color-yellowish)
}

@-webkit-keyframes neon-yellowish {
  @include neonmixin($color-yellowish)
}

@keyframes neon-purplish {
  @include neonmixin($color-purplish)
}

@-moz-keyframes neon-purplish {
  @include neonmixin($color-purplish)
}

@-webkit-keyframes neon-purplish {
  @include neonmixin($color-purplish)
}

