---
---


@import "{{ site.theme }}";

body {
  font-family: "Fira Code", monospace;
}
section {
  border: 0;
}

section.description {
  width: 300px;
  div.description-text {
    padding: 0 1em;
  }
}
//
//section.main-content {
//  float:right;
//}

.project-list {
  position: fixed;
}
.project-list ul {
  padding: 0;
  background: transparent;
  display: grid;
  border: 0;
  > li {
    display: block;
    color: #000000;
    a {
      text-align: left;
      padding: 0;
      color: #000000;
    }
    a:hover {
      font-style: normal;
      font-weight: 300;
      color: #0000ff;
      text-decoration: none;
    }
  }
}

header li {
  border-right: 0;
}
