---
layout: default
---
<div class="description-text">
    {{ page.description }}
</div>
<ul class="list-inline">
    {% for rec in page.recordings %}
    <!--    <p><strong>{{rec.desc}}.</strong> {{rec.date}}</p>-->
    <li class="recording list-inline-item" id="recording-{{forloop.index}}">
        <audio>
            <source src="/assets/sound/{{rec.src}}">
        </audio>
    </li>
    {% endfor %}
</ul>

<script>
    let colors = ['pink', 'greenish', 'blue']
    let color;
    $.each($('.recording'), (key, rec) => {
        color = colors[Math.floor(Math.random() * Math.floor(colors.length))]
        $(rec).addClass(color);
        $(rec).on('click', () => {
            let audio = $(rec).children()[0];
            if ($(rec).hasClass('active')) {
                audio.pause();
                $(rec).removeClass('active');
            } else {
                $(rec).addClass('active');
                audio.play();
            }
        });

    })
</script>
